<html>
<head>
	<title>Login/Registration</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
	<h2>Welcome!</h2>
	<fieldset>
		<legend>Register</legend>
			<form class="login" action="/register" method="POST">
				<p>Name: <input type="text" name="name" autofocus></p>
				<p>Username: <input type="text" name="username"></p>
				<p>Password: <input type="password" name="password"></p>
				<p>Confirm PW: <input type="password" name="pw_confirmation"></p>
				<p><input type="submit" name="submit" value="Submit"></p>
			</form><br>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class=flashes>
					{% for category, message in messages %}
						{% if category == 'regis_errors' %}
							<li>{{ message }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</fieldset>
	<fieldset>
		<legend>Login</legend>
			<form class="login" action="/login" method="POST">
				<p>Username: <input type="text" name="username"></p>
				<p>Password: <input type="password" name="password"></p>
				<p><input type="submit" name="submit" value="Submit"></p>
			</form><br>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<ul class=flashes>
					{% for category, message in messages %}
						{% if category == 'login_errors' %}
							<li>{{ message }}</li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</fieldset>
</body>
</html>
